<div class="container mt-5 d-flex justify-content-evenly">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/addEmployee.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Empleados</h5>
          <p class="card-text">En esta opcion puedes añadir un nuevo Colaborador o modificar datos de los que ya estan registrados</p>
          <a  class="btn btn-primary" (click)="goEmpleados()">Iniciar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/Servicios.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Servicios</h5>
          <p class="card-text">Añade, modifica o elimina servicios del hospital</p>
          <a  class="btn btn-primary" (click)="goServicios()">Iniciar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/productos.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <p class="card-text">Añade, modifica o elimina productos y medicinas para registrar movimientos</p>
          <a  class="btn btn-primary" (click)="goProductos()">Iniciar</a>
        </div>
      </div>
</div>