<div class="">
  <table class="table table-bordered mt-4 text-center table-striped">
    <thead>
      <!-- <tr> -->
        <tr>
        <td>FECHA</td>
        <td>NUMERO REFERENCIA</td>
        <td>REMITENTE/DESTINATARIO</td>
        <td colspan="3">ENTRADA</td>
        
        <td>VENCIMIENTO</td>
        <td>NUMERO DE LOTE</td>
        <td colspan="2">SALIDA</td>
        <td colspan="2">REAJUSTE</td>
        <td colspan="2">SALDO</td>
        <td>ENTREGADO</td>
        </tr>

        

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td >CANTIDAD</td>
          <td >PRECIO UNITARIO</td>
          <td >VALOR TOTAL</td>
          <td></td>
          <td></td>
          <td>CANTIDAD</td>
          <td>PRECIO</td>
          <td>CANTIDAD</td>
          <td>PRECIO</td>
          <td>CANTIDAD</td>
          <td>PRECIO</td>
        </tr>




      <!-- </tr> -->
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        
      </tr>

      <tr>
        <td>1</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        
      </tr>
    </tbody>
  </table>
</div>

