
<div class="container">
  <h1 class="text-center mt-3">REPORTES</h1>
  
  <ul class="nav nav-tabs navbar navbar-fixed-top">
    <li class="nav-item">
      <a class="nav-link" (click)="goDashBoard()" >DashBoard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goDespachos()" >Despachos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goExistencias()" >Existencias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goMetricas()" >Métricas de inventario</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="metricas" >Métricas de inventario</a>
    </li> -->
  </ul>
</div>

<!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <a class="navbar-brand">Reportes</a>
      <ul class="nav nav-tabs navbar navbar-fixed-top">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/dashboard']" >DashBoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/r-despachos']" >Despachos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/existencias']" >Existencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/metricas']" >Métricas de inventario</a>
        </li>
      </ul>
    </div>
</nav> -->